.course {
  &__root {
    @include root;
    background-color: $second-color;
    color: $main-color;
    overflow-x: auto;
    overflow-y: auto;
    display: block;
    &::-webkit-scrollbar {
      display: none;
    }
    
    @media (max-width: $mobile) {
      height: 100vh;
    }
  }

  &__wrapper {
    @include flexCenter;
    height: 100vh;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
  }
}