.quizMaker {
  &__root {
    @include root;
    background-color: $second-color;
    
    color: $main-color;
    overflow-x: auto;
    overflow-y: auto;
    display: block;
    &::-webkit-scrollbar {
      display: none;
    }
    
    @media (max-width: $mobile) {
      height: 100vh;
    }
  }

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    height: calc(100vh - 6rem);
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
    @media (max-width: $mobile) {
      flex-direction: column;
      height: min-content;
    }
    &__title{
      height: 10%;
      width: 90%;
      color: $main-color;
      font-size: 2.75rem;
      text-align: center;
    }
    &__container{
      min-height: 80%;
      width: 100%;
      overflow-y: auto;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 3rem;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &__card{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $main-color;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5%;
    --bg-filter-opacity: 0.5;
    border: 0.5rem solid $second-color;
    border-radius: 1rem;
    box-shadow: 0 0 2rem -1rem $main-color;
    box-sizing: border-box;
    height: 45vh;
    text-decoration: none;
    width: 25vw;
    transition: all ease-in-out 250ms;
    @media (max-width: $mobile) {
      width: 90%;
      height: 20vh;
      margin-right: 5%;
      margin-left: 5%;
    }
    &:hover {
      border: 0.5rem solid $main-color;
      transform: scale(1.05);
    }
  

    &__name{
      width: 90%;
      font-size: 1.5rem;
      height: 20%;
    }
  
  
  }
}