@mixin flexCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin flexSpace{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

@mixin flexCenterRow{
    display: flex;
    align-items: center;
    justify-content: center;
}


@mixin border{
    border: 1px solid $second-color;
}

@mixin border2{
    border: 1px solid $main-color;
}

@mixin shadow{
    box-shadow: rgba(0, 0, 0, 0.3) 0rem 1.1875rem 2.375rem,
        rgba(0, 0, 0, 0.22) 0rem 0.9375rem 0.75rem;
}