.container {
    margin: 5%;
}

.option-container {
    display: flex;
    margin-top: 10px;
}

.question-image {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.option-container > span {
    display: grid;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    width: 100%;
}

.buttonXS {
    background: #1ea2a4;
    border: 11px;
    border-radius: 25px;
    color: #010606;
    cursor: pointer;
    display: flex;
    font-size: 10px;
    outline: 11px;
    padding: 6px 15px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    white-space: nowrap;
    width: 100%;

    &:hover {
        transition: all 0.2s ease-in-out;
        background: #d39804;
    }
}
