.container {
    margin: 5%;
}

.option-container {
    display: flex;
    margin-top: 10px;
}

.question-image {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.option-container > span {
    display: flex;
    flex-direction: co;
    width: 100%;
    justify-content: center;
}
