.container {
    margin: 5%;
}

.option-container {
    display: flex;
    margin-top: 10px;
}

.question-image {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
}

.option-container > span {
    display: flex;
    flex-direction: co;
    width: 100%;
    justify-content: center;
}

.buttonXS {
    display: flex;
    margin-left: 30%;
    border-radius: 25px;
    background: #1ea2a4;
    white-space: nowrap;
    padding: 6px 15px;
    color: #010606;
    font-size: 10px;
    outline: 11px;
    border: 11px;
    cursor: pointer;
    display: flex;

    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;

    &:hover {
        transition: all 0.2s ease-in-out;
        background: #d39804;
    }
}
