.sectionWrapper {
    width: 50vw;
}

.flex-container {
    display: flex;
}

.question-form {
    display: flex;
    flex-direction: column;
    padding: 5%;
}
.question-field {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}

.question-field span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.tag-row {
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tag-row > * {
    margin-right: 5px;
}

.tag-line {
    width: 70%;
    display: inline-flex;
    flex-wrap: wrap;
}

.tag {
    background-color: #ffb703; // Modificar
    padding: 5px;
    display: flex;
    flex-direction: row;
    margin: 5px;
    border-radius: 10%;
}

.tag > button {
    background-color: transparent;
    border: 0 transparent;
    cursor: pointer;
}

.option-table {
    background-color: #ffb703;
    margin: 5px;
}

.option-row td {
    text-align: center;
}

.blank-row {
    height: 10px !important;
    background-color: #da9d04;
}

.buttonS {
    border-radius: 25px;
    background: #1ea2a4;
    white-space: nowrap;
    padding: 6px 15px;
    color: #f9f9f9;
    font-size: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    margin: auto;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    width: 50%;

    &:hover {
        transition: all 0.2s ease-in-out;
        background: #d39804;
    }
}

.h1Questions {
    color: #f9f9f9;
}
