@import url('https://fonts.googleapis.com/css?family=Roboto:300,900');

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1em;
    grid-template-areas:
        'a b c'
        'a d d';
    margin-top: 5%;
    margin-left: -2rem;
    width: 80vw;
}

.card3 {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    position: relative;
    transition: all, var(--transition-time);
    width: 100%;

    &:last-child {
        margin-bottom: 0;
    }
    &:before {
        content: '';
        display: block;
        height: 0;
        padding-bottom: 47.36%;
    }
    &.content {
        &:after {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
            content: '';
            bottom: 0;
            height: 50%;
            left: 0;
            position: absolute;
            width: 100%;
        }
    }
    &:nth-child(1) {
        height: calc(80vh+2rem);
        grid-area: a;
        width: 40vw;
    }
    &:nth-child(2) {
        height: 40vh;
        grid-area: b;
        width: 20vw;
    }
    &:nth-child(3) {
        height: 40vh;
        grid-area: c;
        width: 20vw;
    }
    &:nth-child(4) {
        height: 40vh;
        grid-area: d;
        width: 40vw;
    }
    &-content {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    &-img {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;

        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
    &-label {
        background: #ffb703;
        color: #f9f9f9;
        font-weight: 300;
        font-size: 0.7em;
        left: 0.45rem;
        padding: 0.5em;
        position: absolute;
        text-transform: uppercase;
        top: 0.45rem;
    }
    &-title {
        bottom: 1em;
        color: #d6dbeb;
        font-size: 0.8em;
        left: 1em;
        position: absolute;
        z-index: 3;
    }

    &.form2 {
        --bg-filter-opacity: 0.5;
        align-items: flex-end;
        background-image: linear-gradient(
                rgba(0, 0, 0, var(--bg-filter-opacity)),
                rgba(0, 0, 0, var(--bg-filter-opacity))
            ),
            var(--bg-img);
        background-size: cover;
        background-position: center;
        border: 10px solid #ffb703;
        border-radius: 1em;
        box-shadow: 0 0 5em -1em black;
        box-sizing: border-box;
        color: #f9f9f9;
        display: flex;
        font-family: 'Heebo';
        font-size: 1.5em;
        padding: 1em;
        overflow: hidden;
        position: relative;
        text-decoration: none;
        transition: all, var(--transition-time);
    }
    &:hover {
        transform: scale(1.05);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
        .form-title {
            &:before {
                filter: blur(3px);
                opacity: 0.7;
            }
        }
    }
}
