.landing{
  &__root {
    @include root;
    background-color: $second-color;
    
    color: $main-color;
    overflow-x: auto;
    overflow-y: auto;
    display: block;
    &::-webkit-scrollbar {
      display: none;
    }
    
    @media (max-width: $mobile) {
      height: 100vh;
    }
  }

  &__wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
    height: calc(100vh - 6rem);
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    overflow-x: hidden;
    &__header{
      display: flex;
      align-items: center;
      height: 10%;
      width: 100%;
      color: $main-color;
      
      &__title{
        text-align: center;
        width: 90%;
        margin-left: 5%;
        @media (max-width: $mobile) {
          width: 80%;
        }
      }
      &__logout{
        width: 5%;
        @media (max-width: $mobile) {
          width: 20%;
        }
        &__img{
          transition: all ease-in-out 300ms;
          @media (max-width: $mobile) {
            margin-left: 25%;;
          }
          &:hover{
            transform: scale(1.2);
          }
        }
      }
    }
    &__container{
      height: 90%;
      width: 100%;
      overflow-y: auto;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      &::-webkit-scrollbar {
        display: none;
      }
      &__firstRow{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 35%;
        @media (max-width: $mobile) {
          flex-direction: column;
          height: min-content;
        }
      }
      &__secondRow{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: 65%;
        @media (max-width: $mobile) {
          flex-direction: column;
          height: min-content;
        }
      }
    }
  }

  &__card{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $main-color;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 5%;
    --bg-filter-opacity: 0.5;
    border: 0.5rem solid $second-color;
    border-radius: 1rem;
    box-shadow: 0 0 2rem -1rem $main-color;
    box-sizing: border-box;
    height: 45vh;
    text-decoration: none;
    width: 25vw;
    transition: all ease-in-out 250ms;
    &:hover {
      border: 0.5rem solid $main-color;
      transform: scale(1.05);
    }
  }

  &__singleCard{
    @include card;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 1%;
    margin-right: 1%;
    height: 80%;
    width: 31%;
    justify-content: center;
    @media (max-width: $mobile) {
      margin-top: 5%;
      height: 20vh;
      width: 90%;
    }
    &--ultimo{
      @include card;
      margin-top: 10%;
      margin-bottom: 10%;
      margin-left: 1%;
      margin-right: 1%;
      height: 80%;
      width: 31%;
      justify-content: center;
      @media (max-width: $mobile) {
        margin-top: 5%;
        height: 15vh;
        width: 90%;
      }
      &:hover {
      border: 0.5rem solid $main-color;
      transform: scale(1.05);
    }
    }
    &__header{
      width: 90%;
      display: flex;
      justify-content: center;
      height: 30%;
      margin-bottom: 2rem;
      &__title{
        font-size: 1.5rem;
        @media (max-width: $mobile) {
          font-size: 1.5rem;
        }
      }
    }
    &__next{
      height: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      &__info{
        font-size: 1.5rem;
        @media (max-width: $mobile) {
          width: 75%;
          font-size: 1rem;
        }
      }
    }
    &__average{
      height: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      &__grade{
        font-size: 5rem;
        @media (max-width: $mobile) {
          font-size: 4rem;
        }
      }
      &__up{
        color: green;
        font-size: 4rem;
        font-weight: bold;
      }
      &__down{
        color: red;
        font-size: 4rem;
      }
    }
    &__title{
      font-size: 2rem;
      @media (max-width: $mobile) {
        font-size: 1.5rem;
      }
      
    }
  }

  &__bigCard{
    @include card;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-left: 5%;
    margin-right: 5%;
    height: 85%;
    width: 60%;
    @media (max-width: $mobile) {
      width: 95%;
      height: 35vh;
    }
    
    &__chart{
      max-height: 80%;
    }
  }

  &__smallCard{
    @include card;
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: 5%;
    height: 85%;
    width: 25%;
    @media (max-width: $mobile) {
      width: 95%;
      height: 35vh;
    }
    &__header{
      text-align: center;
      display: flex;
      width: 90%;
      height: 10%;
      &__title{
        width: 100%;
        text-align: center;
      }
    }
    &__info{
      display: flex;
      flex-direction: column;
      width: 90%;
      height: 80%;
      margin-top: 2rem;
      &__grade{
        display: flex;
        justify-content: center;
        width: 100%;
        border-bottom: 0.03rem solid $main-color;
        &__text{
          text-align: center;
          width: 100%;
        }
      }
    }

  }

  
}