.login {
    &__root {
      @include root;
      background-color: $second-color;
      overflow: scroll;
      @media (min-width: $mobile) {
        height: 100vh;
        overflow: hidden;
      }
    }
    &__create-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  
      @media (min-width: $mobile) {
        width: 90%;
        height: 50%;
        margin-top: -10%;
      }
      &__title {
        font-size: 2rem;
        color: $main-color;
        @media (min-width: $mobile) {
          margin-top: 3rem;
        }
      }
      &__desc {
        color: $main-color;
        text-align: center;
        width: 80%;
        @media (min-width: $mobile) {
          width: auto;
        }
      }
      &__create {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        width: 60%;
        height: 4rem;
        border-radius: 2rem;
        background-color: $main-color;
        color: $second-color;
        text-align: center;
        font-weight: 700;
        font-size: large;
        box-shadow: rgba(0, 0, 0, 0.2) 0rem 3.75rem 2.5rem -0.4375rem;
        transition: all ease-in-out 300ms;
        @media (min-width: $mobile) {
          margin-top: 3rem;
          width: 40%;
        }
        &:hover {
          transform: scale(1.1);
        }
        &:active {
          opacity: 0.4;
        }
      }
    }
  
    &__section {
      background-color: $main-color;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-top-right-radius: 1rem;
      border-top-left-radius: 1rem;
      height: 60%;
      @media (min-width: $mobile) {
        border-bottom-left-radius: 1rem;
        border-top-left-radius: 1rem;
        width: 50%;
        height: 100%;
      }
      @media (max-width: $mobile-l) {
        border-radius: 0;
      }
      &--white {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-bottom-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        background-color: $second-color;
        height: 40%;
        @media (min-width: $mobile) {
          border-bottom-right-radius: 1rem;
          border-top-right-radius: 1rem;
          width: 50%;
          height: 100%;
        }
        @media (max-width: $mobile-l) {
          border-radius: 0;
        }
      }
    }
    &__wrapper {
      display: flex;
      min-width: $mobile-s;
      height: calc($tablet * 0.8);
      animation: slide-down 500ms forwards normal;
      background-color: $main-color;
      box-shadow: rgba(0, 0, 0, 0.3) 0rem 1.1875rem 2.375rem,
        rgba(0, 0, 0, 0.22) 0rem 0.9375rem 0.75rem;
      border-radius: 2rem;
      flex-direction: column;
      transition: all ease-out 200ms;
      @media (min-width: $mobile) {
        width: 80%;
        height: 80%;
        flex-direction: row;
        min-width: $mobile;
        min-height: $mobile;
      }
      @media (max-width: $mobile-l) {
        height: 100vh;
        min-height: $mobile-s;
      }
      &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 70%;
        padding: 1.5rem;
        border-bottom: 0.03rem solid $second-color;
      }
      &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        width: 90%;
        @media (min-width: $mobile) {
          margin-top: -2rem;
          height: 50%;
        }
        &__container {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
          margin-bottom: 1rem;
          &__label {
            width: 80%;
            text-align: left;
            font-size: 1rem;
            margin-bottom: 1rem;
            @media (min-width: $mobile) {
              width: 60%;
            }
          }
          &__input {
            outline: none;
            border: none;
            line-height: 2rem;
            border-radius: 1.5rem;
            padding: 0.5rem;
            width: 80%;
            @media (min-width: $mobile) {
              width: 60%;
            }
          }
          &__password {
            width: 80%;
            position: relative;
            @media (min-width: $mobile) {
              width: 60%;
            }
            &__input {
              outline: none;
              border: none;
              line-height: 2rem;
              border-radius: 1.5rem;
              padding: 0.5rem;
              width: 100%;
            }
  
            &__view {
              position: absolute;
              left: 97%;
              padding: 0;
              margin: 0;
              border: none;
              background-color: transparent;
              top: calc(100% * 0.5 - 0.5rem);
            }
          }
        }
  
        &__submit-container {
          width: 100%;
  
          @media (min-width: $mobile) {
            height: 20%;
          }
          &__submit {
            box-shadow: rgba(255, 255, 255, 0.2) 0rem 3.75rem 2.5rem -0.4375rem;
            border-radius: 1.5rem;
            border: none;
            background-color: $second-color;
            width: 50%;
            font-weight: 700;
            font-size: large;
            height: 3rem;
            transition: all ease-in-out 300ms;
            @media (min-width: $mobile) {
              margin-top: 3rem;
              width: 40%;
            }
            &:hover {
              transform: scale(1.1);
            }
            &:active {
              opacity: 0.4;
            }
          }
        }
      }
    }
  }